/* basic.html */
body {
    margin: 1em;
    padding: 0;
    font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
    background-color: #70BCD1;
}

model-viewer {
    width: 100%;
    height: 850px;
}

/* annotations.html */
#controls {
    position: absolute;
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
}

.dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    --min-hotspot-opacity: 0;
}

.dim {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: Futura, Helvetica Neue, sans-serif;
    font-size: 18px;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
    --min-hotspot-opacity: 0;
}

.show {
    --min-hotspot-opacity: 1;
}

.hide {
    display: none;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}
